
/* Enable Huge Icons */
.fa-huge { font-size : 11em; color: #ffa6b9; }

/* Custom Icons Colors */
.fa-pink { color : #eba3ff; }
.fa-peach { color : #ffa6b9; }
.fa-lime { color : #b9ff66; }
.fa-orange { color : #ffa500; }

span.fa-byline { color : gray; }

.li-nested-item {
    list-style-type: square !important;
}

.reveal ul.spaced-list-items li {
   font-size: 0.8em;
   margin:0 0 6px 0;
}

.roman {
    list-style-type: upper-roman !important;
    list-style-position: inside !important;
}
