
/* Enable Huge Icons */
.fa-huge { font-size : 11em; color: #ffa6b9; }

/* Custom Icons Colors */
.fa-pink { color : #eba3ff; }
.fa-peach { color : #ffa6b9; }
.fa-lime { color : #b9ff66; }

span.fa-byline { color : gray; }
